ul{
  list-style-type: none;
  margin-left: 0;
  margin-right: auto;
  padding: 20px;
  overflow: hidden;
  background-color: red;
  float: snap;
}
h1{
  color: teal;
  text-align: center;
  font-size: 45px;
}
